[Unit]
Description=Run monitoring service every minute

[Timer]
OnBootSec=1min
OnUnitActiveSec=1min
Unit=monitor_test.service

[Install]
WantedBy=timers.target
